<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCKUXYBajwX5uipILVSsHylVf4f9KDx8SQ</string>
	<key>GCM_SENDER_ID</key>
	<string>355179126190</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.easydeliverywatch.easydeliverywatch</string>
	<key>PROJECT_ID</key>
	<string>easydeliverywatch</string>
	<key>STORAGE_BUCKET</key>
	<string>easydeliverywatch.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:355179126190:ios:211eb7b7e71d4bb312bc3f</string>
	<key>ADMOB_APP_ID</key>
	<string>ca-app-pub-7191096510845066~8045618465</string>
</dict>
</plist>